button.inactive.button-active.rotateON#active ›
header#show
  h2.sitetitle(style="border-bottom:none")
    a(href=uri)= title
  nav
    ul
      each doc, slug in public.docs._data
        li(class="#{ current.path[1] == slug ? '' : 'hidden' }")= doc.heading
          if public.docs[slug]._data
            ul
              each subsection, subslug in public.docs[slug]._data
                li(class="#{ current.path[2] == subslug ? 'activatednext' : '' }"): a(href="/docs/#{ slug }/#{ subslug }.html")= subsection.heading
  
  
